@page "/"

@inject NavigationManager NavigationManager

<PageTitle>Ajutor refugiați</PageTitle>

<div class="">
    <div class="d-flex justify-center mt-10 pa-5">
        <MudButton Link="guide-guests" Variant="Variant.Filled" StartIcon="@Icons.Filled.AltRoute"
            Color="Color.Primary" Size="Size.Large">
            Ghidează refugiați
        </MudButton>
    </div>
    <div class="d-flex justify-center pa-3">
        <MudButton Link="add-offer" Variant="Variant.Filled" StartIcon="@Icons.Filled.Add"
                   Color="Color.Transparent" Size="Size.Small" Style="text-transform:none">
            Adaugă ofertă
        </MudButton>
    </div>
    <div class="d-flex justify-center pa-3">
        <MudButton Link="add-offer" Variant="Variant.Filled" StartIcon="@Icons.Filled.ListAlt"
                   Color="Color.Transparent" Size="Size.Small" Style="text-transform:none">
            Vezi oferte
        </MudButton>
    </div>
</div>