@inherits LayoutComponentBase

<nav class="navbar navbar-light bg-light justify-content-between fixed-top">
    <a class="navbar-brand">Ajutor refugiați</a>
</nav>
<main class="container">
    @Body
</main>